header{
    text-align: center;

    padding: 30px;
    
}
.h1{
    font-size: 90px;
}
.login-box{
    height: 100px;
    
    margin: 150px auto;
    float: none;
}
.left{
    background-color: darkgray;
    padding: 30px;
}
.right{
    background-color: rgb(110, 108, 108);
    padding: 30px;
}

body{
    background: cornsilk url(1234.jpg);
    
    background-size: cover;
    background-position: center;
}

.form-control{
    background: transparent !important;
}